
      <div class="left-sidebar">
 
		<%= render 'dashboard/status-compare'%>
		<%= render 'dashboard/priority-compare'%>
		<%= render 'dashboard/subject-statistics'%>
		<%= render 'dashboard/department-statistics'%>
		<%= render 'dashboard/employee-statistics'%>
		
      </div>