<%= div_for reply do %>
<blockquote>
	<span class="title">
		<%= reply.user.employee.full_name if reply.user.employee %><%= reply.user.student.full_name if reply.user.student %> says:
	</span>
	<p>
		<%= simple_format reply.text %>
	</p>
	<small>
		<%= reply.created_at.strftime("%d/%m/%Y %I:%M%p")%> 
	</small>
</blockquote>
<% end %>