<div class="left-sidebar">    
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						New Employee
						<span class="mini-title">
							Add new employee
						</span>
					</div>
				</div>
				<div class="widget-body">
					<%= simple_form_for(@student, :html => {:class => 'form-horizontal' }) do |f| %>
					<%= f.input :full_name, placeholder: 'Enter Full Name' %>
					<%= f.input :gender, collection: Employee::GENDER, prompt: 'Select Gender' %>
					<%= f.input :batch_name, placeholder: 'Enter Batch' %>
					<%= f.input :section_name, placeholder: 'Enter Section' %>
					<div class="form-actions no-margin">
						<button type="submit" class="btn btn-info pull-right">
							Create Account
						</button>
						<div class="clearfix">
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'users/right-sidebar'%>