	<br />
	<h5>
		Personal Information
	</h5>
	<hr>

<%= simple_form_for(@user , html: { class: 'form-horizontal' }) do |f| %>
<%= simple_fields_for :employee %>
<%= f.input :full_name %>
<%= f.association :gender , as: :string%>

<%= f.button :submit, 'Update Account',class: ' btn btn-primary' %>
<% end %>