<div class="right-sidebar">
	<div class="wrapper">
		<div id="scrollbar">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<div class="overview">
					<div class="featured-articles-container">
						<h5 class="heading-blue">
							<%= 'Manage User' if params[:controller] == 'users' %>
							<%= 'Manage Employee' if params[:controller] == 'employees' %>
							<%= 'Manage Student' if params[:controller] == 'students' %>
						</h5>
						<div class="articles">
							<% if params[:controller] == 'users' %>
							<a href="<%= new_user_path %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Add New User
							</a>
							<a href="<%= users_path(tab: 'active') %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Active Users
							</a>
							<a href="<%= users_path(tab: 'inactive') %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Inactive Users
							</a>
							<% end %>
							<% if params[:controller] == 'employees'%>
							<a href="<%= new_employee_path %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Add New Employee
							</a>
							<% end %>
							<% if params[:controller] == 'students' %>
							<a href="<%= new_student_path %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Add New Student
							</a>
							<% end %>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
