<div class="left-sidebar">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget no-margin">
				<div class="widget-header">
					<div class="title">
						<%= @user.email %> Profile
					</div>
				</div>
				<div class="widget-body">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span3">
								<div class="thumbnail">
									<img alt="300x200" src="/assets/img/profile.png">
								</div>
							</div>
							<div class="span9">
								<h5>
									Login Information
								</h5>
								<hr>
								<%= simple_form_for(@user , html: { class: 'form-horizontal' }) do |f| %>
								<%= f.input :email, disabled: true %>
								<%= f.input :password, :autocomplete => "off",:hint => "leave it blank if you don't want to change it", :required => false %>
								<%= f.input :password_confirmation, :required => false %>
								<%= f.input :current_password,:hint => "we need your current password to confirm your changes", :required => true %>
								<%= f.button :submit, 'Update Account',class: ' btn btn-primary' %>
								<% end %>
								<br />
								<h5>
									Personal Information
								</h5>
								<hr>
								<% if @user.student %>
								<%= render 'users/student_info'%>
								<% elsif @user.employee %>
								<%= render 'users/employee_info'%>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>