<ul>
	<li><a href="#" class="heading">Users</a></li>
	<li>
		<a href="<%= users_path(tab: 'all') %>" class="<%= 'selected' if params[:controller] == 'users' && params[:tab] == 'all' %>">
			All Users
		</a>
	</li>
	<li>
		<a href="<%= users_path(tab: 'active') %>" class="<%= 'selected' if params[:controller] == 'users' && params[:tab] == 'active' %>">
			Active Users
		</a>
	</li>
	<li>
		<a href="<%= users_path(tab: 'inactive') %>" class="<%= 'selected' if params[:controller] == 'users' && params[:tab] == 'inactive' %>">
			Inactive Users
		</a>
	</li>
	<li>
		<a href="<%= employees_path(tab: "staff")%>" class="<%= 'selected' if params[:controller] == 'employees' && params[:tab] == 'staff' %>">
			Staff Directory
		</a>
	</li>
	<li>
		<a href="<%= employees_path(tab: "advisors")%>" class="<%= 'selected' if params[:controller] == 'employees' && params[:tab] == 'advisors' %>">
			Advisors Directory
		</a>
	</li>
	<li>
	    <a href="<%= students_path %>" class="<%= 'selected' if params[:controller] == 'students' && params[:action] == 'index' %>">
	      Students Directory
	    </a>
	  </li>
</ul>
