<div class="left-sidebar">    
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						Sample Course Evaluation
						<span class="mini-title" style= "display:none;">
							#
						</span>
					</div>
				</div>
				<div class="widget-body">				
					<%= form_tag('/subject_surveys', method: :post, class: 'form-horizontal' ) do %>	
						<% q = 0 %>
						<% Survey.find(1).questions.order("questions.id asc").each do |question| %>
							<% q += 1%>
							<%= hidden_field_tag 'subject_survey[student_id]', "#{current_user.student.id}" %>
							<%= hidden_field_tag 'subject_survey[survey_id]', '1' %>
							<h6>Q<%= q %>- <%= question.content %></h6>
							<div class="clearfix"></div><div class="clearfix"></div>
							<% if question.question_type == "#{Question::CHECK}" %>
								<% question.answers.each do |answer| %>
									<%= check_box_tag "subject_survey[questions][#{question.id}]", "#{answer.id}" %>
									<%= answer.content  %>
									<div class="clearfix"></div>
								<% end %>
							<% elsif question.question_type == "#{Question::RADIO}" %>
								<% question.answers.each do |answer| %>
									<%= radio_button_tag "subject_survey[questions][#{question.id}]", "#{answer.id}" %>
									<%= answer.content %>
									<div class="clearfix"></div>
								<% end %>
							<% end %>
							<% if question.id == Survey.find(1).questions.order("questions.id asc").last.id %>
								<br>
							<% else %>
								<hr style="border-top: 1px solid #000000;">
							<% end %>
						<% end %>
						<div class="form-actions no-margin">
						<%= submit_tag "Submit", class: "btn btn-info pull-right" %>
							<div class="clearfix"></div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>