<div class="left-sidebar">    
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						Sample Course Evaluation
						<span class="mini-title" style= "display:none;">
							#
						</span>
					</div>
				</div>
				<div class="widget-body">
					

					<%= simple_form_for(@sv_sub, :html => {:class => 'form-horizontal' }) do |f| %>
					<% q = 0 %>
					<% Survey.find(1).questions.each do |question| %>
					<% q = q + 1%>
					
					
					<%= hidden_field_tag 'subject_survey[survey_id]', '1' %>
					Q<%= q %>- <%= question.content %>
					<%= hidden_field_tag 'subject_survey[question_id]', "#{question.id}" %>
					<hr>
					
					<% if question.question_type == "#{Question::CHECK}" %>
					
					<% for answer in Answer.where("question_id = ?",question.id) %>
					<%= check_box_tag 'sv_sub[answer_id][]', answer.id %>
					<%=h answer.content.humanize  %>
					<hr>
					<% end %>
					<%= hidden_field_tag 'sv_sub[answer_id][]', '' %>

					<% elsif question.question_type == "#{Question::RADIO}" %>
					
					<% for answer in Answer.where("question_id = ?",question.id) %>
					<%= radio_button_tag 'sv_sub[answer_id][]', answer.id %>
					<%=h answer.content.humanize  %>
					<hr>
					<% end %>
					<%= hidden_field_tag 'sv_sub[answer_id][]', '' %>
					
					<% end %>
					<% end %>
					<div class="form-actions no-margin">
						<button type="submit" class="btn btn-info pull-right">
							Submit
						</button>
						<div class="clearfix">
						</div>
					</div>

					<% end %>


				</div>
			</div>
		</div>
	</div>
</div>