<style>
<% for priority in @priorities %>
#priority_<%= priority.priority_name.parameterize %> {
	background: <%= priority.background %>;
	color: <%= priority.color %>;
}
<% end %>
</style>
<div class="row-fluid">
	<div class="span12">
		<div class="widget">
			<div class="widget-header">
				<div class="title" id="complaints_per_employee">
					Complaints Directory
					<span class="mini-title">
						<%= 'Open Complaints' if params[:controller] == 'tickets' && params[:tab] == 'open' %>
						<%= 'Solved Complaints' if params[:controller] == 'tickets' && params[:tab] == 'solved' %>
						<%= 'My Complaints' if params[:controller] == 'tickets' && params[:tab] == 'assigned' %>
						<%= 'Overdue Complaints' if params[:controller] == 'tickets' && params[:tab] == 'overdue' %>
						<%= 'Closed Complaints' if params[:controller] == 'tickets' && params[:tab] == 'closed' %>
					</span>
				</div>
			</div>
			<div class="widget-body">
				<div id="dt_example" class="example_alt_pagination">
					<table class="table table-condensed table-striped table-hover table-bordered pull-left" id="tickets">

						<thead>
							<tr>
								<th>Complaint Serial</th>
								<th>Complaint Category</th>
								<th>From</th>
								<th>Priority</th>
								<th>Status</th>
								<th>Submitting Date</th>
								<th>Assigned To</th>
								<th>Due Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @tickets.each do |ticket| %>
							<tr>
								<td><%= ticket.id %></td>
								
								<td><%= ticket.category.category_name.capitalize %></td>
								
								<td><%= ticket.student.full_name %></td>
								<td  id="priority_<%= ticket.priority.priority_name.parameterize if ticket.priority %>"><%= ticket.priority.priority_name if ticket.priority %></td>
								<td><%= ticket.statuses.first.ticket_status %></td>
								<td><%= ticket.created_at.to_date %></td>
								<td><% if ticket.ticket_statuses.first.staff %>
								<%= ticket.ticket_statuses.first.staff.full_name%>
								<% elsif ticket.ticket_statuses.first.advisor %>
								<%= ticket.ticket_statuses.first.advisor.full_name %>
								<% else %>
								<% if current_user.head_of_department? %>
								Not Assigned
								<% end %>
								<% end %>
								</td>
									<td><%= ticket.due %></td>
									<td><a href="<%= ticket_path(ticket) %>" class="btn" rel="tooltip" title="View"><i class="icon-search"></i></a></td>
								</tr>
								<% end %>

							</tbody>
						</table>
						<div class="clearfix">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	$('#tickets').dataTable({
		"sPaginationType": "full_numbers",
		"iDisplayLength" : 11
	});
	</script>