<div class="row-fluid">
	<div class="span12">
		<div class="widget">
			<div class="widget-header">
				<div class="title" id="complaints_per_employee">
					Subjects Directory
					<span class="mini-title">
						<%= 'All Subjects Directory' if params[:controller] == 'subjects' && params[:tab] == 'all' %>
						<%= 'Enrolled Subjects Directory' if params[:controller] == 'subjects' && params[:tab] == 'enrolled' %> 
					</span>
				</div>
			</div>


			<div class="widget-body">
				<div id="dt_example" class="example_alt_pagination">
					<% if params[:controller] == 'subjects' && (params[:tab] == 'all' || params[:tab] == 'assigned_subjects' || params[:tab] == 'not_assigned_subjects' ) %>
					<table class="table table-condensed table-striped table-hover table-bordered pull-left" id="subjects">

						<thead>
							<tr>
								<th>ID</th>
								<th>Subject Code</th>
								<th>Subject Title</th>
								<th>Advisor in Charge</th>
								<th>Staff in Charge</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<% @subjects.each do |subject| %>
							<tr>
								<td><%= subject.id%></td>
								<td><%= subject.subjectCode %></td>
								<td><%= subject.subject_title %></td>
								<% if subject.subject_staffs.first.nil? %>
								<td>no advisor assigned yet</td>
								<% else %>
								<td><%= subject.subject_staffs.first.advisor.full_name if !subject.subject_staffs.nil? %></td>
								<% end %>
								<% if subject.subject_staffs.first.nil? %>
								<td>no staff assigned yet</td>
								<% else %>
								<td><%= subject.subject_staffs.first.staff.full_name %></td>
								<% end %>
								<td><a href="<%= edit_subject_path(subject) %>" rel="tooltip" title="Update Subject Details">update subject</a> | <%= link_to "delete subject", subject, method: :delete, data: { confirm: "#{subject.subject_title} will be deleted, proceed?" } %> <% if subject.subject_staffs.length > 0 %>| 
<a href="<%= edit_subject_staff_path(SubjectStaff.where("subject_id= ?", subject.id).first.id) %>" rel="tooltip" title="Update Subject Details">update assigned employees</a>
<% end %>
									</td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<% elsif params[:controller] == 'subjects' && params[:tab] == 'assigned' %>
					<table class="table table-condensed table-striped table-hover table-bordered pull-left" id="subjects">

						<thead>
							<tr>
								<th>Subject Code</th>
								<th>Subject Title</th>
								<th>Total Complaints</th>
							</tr>
						</thead>
						<tbody>
							<% @subjects.each do |subject| %>
							<tr>
								<td><%= subject.subjectCode %></td>
								<td><%= subject.subject_title %></td>
								<td><%= @total_complaints_sub.where("subjects.id = tickets.subject_id AND subjects.id = ?", subject.id).count %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<% elsif params[:controller] == 'subjects' && params[:tab] == 'enrolled' %>
					<table class="table table-condensed table-striped table-hover table-bordered pull-left" id="subjects">

						<thead>
							<tr>
								<th>Subject Code</th>
								<th>Subject Title</th>
								<th>Make a Complaint</th>
							</tr>
						</thead>
						<tbody>
							<% @subjects.each do |subject| %>
							<tr>
								<td><%= subject.subjectCode %></td>
								<td><%= subject.subject_title %></td>
								<td><a href="<%= new_subject_ticket_path(subject) %>">Make a Complaint</a></td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<!-- MODAL START -->
					<div class="modal hide fade" id="myModal" data-backdrop="static" data-keyboard="false">
					  <div class="modal-header">
					    <a class="close" data-dismiss="modal">×</a>
					    <h4>Subjects Evaluation and Improvement</h4>
					  </div>
					  <div class="modal-body">
					    <p>
							<h5>
	<%="Hello #{current_user.student.full_name}, Help us to make your next class even better!, Would you like to make a survey now?" %>
							</h5>
						</p>
					  </div>
					  <div class="modal-footer">
					    <a class="btn" data-dismiss="modal" aria-hidden="true">No, Later</a>
					    <a href="<%= available_subjects_path %>" class="btn btn-primary">Make A Survey</a>
					  </div>
					</div>
					
					<script type="text/javascript">
					            if($.cookie('msg') != null)
					            {
					                $(window).load(function(){
								        $('#myModal').modal('show');
								    });
									var expiryDate = new Date();
								    var hours = 1;
								    expiryDate.setTime(expiryDate.getTime() + (hours * 3600 * 1000));
					                $.cookie('msg', 'str',{expires: expiryDate });
					            }
					            else
					            {
					                $("div#myModal.modal").css('display','none');
					            }
					</script>
					<!-- MODAL END-->
					<% end %>
					<div class="clearfix">
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
<script>
$('#subjects').dataTable({
	"sPaginationType": "full_numbers"
});
</script>
<% if current_user.admin? %>
<%= render 'subjects/right-sidebar' %>
<% end %>