<%= simple_form_for(@subject) do |f| %>
	<% for survey in Survey.all %>
		<%= content_tag_for(:div, survey) do %>
			<%= radio_button_tag "subject[survey_id]", "#{survey.id}", (survey.id == @subject.survey_id) %>
			<%= label_tag 'answer', "#{survey.survey_name.titleize}", style: 'display:inline' %>
		<% end %>
	<% end %>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<%= f.button :submit, 'Save changes', :class => "btn btn-primary" %>
	</div>
<% end %>