<div class="left-sidebar">    
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						<%= "#{@survey.survey_name.titleize} for #{@subject.subject_title.titleize}" %>
						<span class="mini-title" style= "display:none;">#</span>
					</div>
				</div>
				<div class="widget-body">					
						<% q = 0 %>
						<% @questions.each do |question| %>
							<% if question.question_type != "#{Question::GRID}" %>
								<% q += 1%>
								<% if question.question_type == "#{Question::LIST}" || question.question_type == "#{Question::RADIO}" %>
								<% statistics = SubjectSurvey.question_statistics(@subject.survey_id,@subject.id,question.question_type,question.id) %>
								<% total = SubjectSurvey.total_responses(@subject.survey_id,@subject.id,question.question_type,question.id) %>
								<% end %>
								<table class="table table-condensed table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th><%= label_tag 'question', "Q#{q}- #{question.content.capitalize}" %><th>
											<label style='text-align:center;'>Total Responses: <%= total.first.total_responses %></label>
									</tr>
									<tr>
										<th style='text-align:center;'>Answer(s)</th>
										<th style='text-align:center;'>Count</th>
										<th style='text-align:center;'>Percent</th>
										
									
									</tr>
								</thead>
								<tbody>
									
									<% statistics.each do |result| %>
										<tr>											
											<td><%= result.answer_content.capitalize %></td>
											
												<td style='text-align:center;'><%= result.count %></td>
												<td style='text-align:center;'><%= ((result.count.to_f/total.first.total_responses.to_f) * 100.00).round(2) %>%</td>
										
										</tr>
									<% end %>
									
								</tbody>
							</table>

								
								<div class='clearfix'></div><div class='clearfix'></div>
								<%# if question.question_type == "#{Question::LIST}" || question.question_type == "#{Question::RADIO}" %>
									<%# statistics = SubjectSurvey.question_statistics(@subject.survey_id,@subject.id,question.id,question.question_type) %>
								<%# end %>
								<%# statistics.as_json %>
								<% if question.equal? @questions.last %>
									<% if @questions_grid.equal? nil %>
										<br>
									<% else %>
										<hr style="border-top: 1px solid #000000;">
									<% end %>
								<% else %>
									<hr style="border-top: 1px solid #000000;">
								<% end %>
							<% end %>
						<% end %>

						<% @questions_grid.keys.sort.each do |help_text| %>
							<% q += 1%>
							
							<table class="table table-condensed table-striped table-hover table-bordered">
								<thead>
									<tr><%= label_tag 'question', "Q#{q}- #{help_text}" %></tr>
									<tr>
										<th style='text-align:center;'>Question(s)</th>
										<% for question in @questions_grid[help_text] %>
											<% question.answers.each do |answer| %>
												<th style='text-align:center;'><%= label_tag 'answer', "#{answer.content.titleize}" %></th>
											<% end %>
											<th style='text-align:center;'>Total Responses</th>
											<% break %>
										<% end %>
										<% grid_statistics = SubjectSurvey.question_statistics(@subject.survey_id,@subject.id,question.question_type,question.id,help_text) %>
									</tr>
								</thead>
								<tbody>
									<% grid_statistics.each do |result| %>
										<tr>											
											<td><%= label_tag 'question', "#{result.question_content.capitalize}" %></td>
												<td style='text-align:center;'><%= result.answer_1 %><%= " (#{((result.answer_1.to_f/result.total_responses.to_f) * 100.00).round(2)}%)" if result.answer_1.to_i > 0 %></td>
												<td style='text-align:center;'><%= result.answer_2 %><%= " (#{((result.answer_2.to_f/result.total_responses.to_f) * 100.00).round(2)}%)" if result.answer_2.to_i > 0 %></td></td>
												<td style='text-align:center;'><%= result.answer_3 %><%= " (#{((result.answer_3.to_f/result.total_responses.to_f) * 100.00).round(2)}%)" if result.answer_3.to_i > 0 %></td></td>
												<td style='text-align:center;'><%= result.answer_4 %><%= " (#{((result.answer_4.to_f/result.total_responses.to_f) * 100.00).round(2)}%)" if result.answer_4.to_i > 0 %></td></td>
												<td style='text-align:center;'><%= result.answer_5 %><%= " (#{((result.answer_5.to_f/result.total_responses.to_f) * 100.00).round(2)}%)" if result.answer_5.to_i > 0 %></td></td>
												<td style='text-align:center;'><%= result.total_responses %></td>
										</tr>
									<% end %>	
								</tbody>
							</table>
							<% if help_text.equal? @questions_grid.keys.sort.last %>
								<br>
							<% else %>
								<hr style="border-top: 1px solid #000000;">
							<% end %>
						<% end %>

				</div>
			</div>
		</div>
	</div>
</div>