	<p><%= simple_form_for(@survey) do |f| %>
		<% for subject in Subject.all %>
		<label id=''><%= check_box_tag 'survey[subject_ids][]', subject.id, @survey.subjects.include?(subject) %>
			&nbsp;&nbsp;<%= subject.subject_title %></label>
			<% end %>
			<%= hidden_field_tag 'survey[subject_ids][]', '' %>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<%= f.button :submit, 'Save changes', :class => "btn btn-primary" %>
		<% end %>
	</div>