  
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<div class="title">
						New Survey 
						<span class="mini-title" style="display:none">
							new survey
						</span>
					</div>
				</div>
				<div class="widget-body">
					<%= simple_form_for(@survey, :html => {:class => 'form-horizontal' }) do |f| %>
					<%= f.input :survey_name, placeholder: 'Enter Survey Name',label: 'Survey Name:' %>
					<%= f.simple_fields_for :questions do |builder| %>
					<%= render 'question_fields', f: builder %>
					<% end %>
					<%= link_to_add_fields "Add Question", f, :questions %>
					<div class="form-actions no-margin">
						<button type="submit" class="btn btn-info pull-right">
							Create Survey
						</button>
						<div class="clearfix">
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var survey_name = new LiveValidation('survey_survey_name');
	survey_name.add( Validate.Presence );
</script>