<div class="widget-body">
	<%= simple_form_for(@suggestion, :html => {:class => 'form-horizontal' }) do |f| %>
	<%= f.input :student_id , as: :hidden,input_html:{value: @student} %>
		<%= f.input :subject_id, as: :hidden ,input_html:{value: @subject} %>
	<%= f.association :subject_field, label_method: :subject_field %>
	<%= f.input :title, placeholder: 'Type Suggestion Title' %>
	<%= f.input :content, as: :text, input_html: {class: 'input-xxlarge', rows: '6'}, label: 'Suggestion Description:'  %>
	<div class="form-actions no-margin">
		<button type="submit" class="btn btn-info pull-right">
			Submit a Suggest
		</button>
		</div>
	</div>
	<% end %>
</div>