<div class="btn-group pull-right">
		<button class="btn btn-primary">
			Main Menu
		</button>
		<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
			<span class="caret">
			</span>
		</button>
		<ul class="dropdown-menu pull-right">
			<% if current_user.head_of_department? %>
			<li>
				<a href="<%= dashboard_path %>" data-original-title="">
					Dashboard
				</a>
			</li>
			<% end %>
			<% if current_user.head_of_department? %>
			<li>
				<a href="<%= activities_path %>" data-original-title="">
					System Activity
				</a>
			</li>
			<% end %>
			<% if current_user.admin? %>
			<li>
				<a href="<%= users_path %>" data-original-title="">
					Users
				</a>
			</li>
			<% end %>
			<% if current_user.admin? %>
			<li>
				<a href="<%= employees_path(tab: "staff")%>" data-original-title="">
					Employees
				</a>
			</li>
			<% end %>
			<% if current_user.admin? %>
			<li>
				<a href="<%= students_path %>" data-original-title="">
					Students
				</a>
			</li>
			<% end %>
			<% if current_user.admin? %>
			<li>
				<a href="<%= subjects_path(tab: "all")%>" data-original-title="">
					Subjects
				</a>
			</li>
			<% elsif current_user.advisor? %>
			<li>
				<a href="<%= subjects_path(tab: "assigned")%>" data-original-title="">
					Subjects
				</a>
			</li>
			<% elsif current_user.student? %>
			<li>
				<a href="<%= subjects_path(tab: "enrolled")%>" data-original-title="">
					Subjects
				</a>
			</li>
			<% end %>
			<% if !current_user.admin? %>
			<li>
				<a href="<%= tickets_path(tab: "open") %>" data-original-title="">
					Complaints
				</a>
			</li>
			<% end %>
			<% if !current_user.admin? %>
			<li>
				<a href="<%= kbs_path %>" data-original-title="">
					Knowledge Base
				</a>
			</li>
			<% end %>
		</ul>
	</div>